body, html {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding: 50px 100px 50px 100px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color:#d8e5d8;
    
}

.container{
  
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 2fr 2fr;
    grid-template-rows: 2fr 4fr 2fr;
    /* grid-template-rows: minmax(50px, 2fr) 4fr minmax(50px, 2fr);  */
    /* padding: 50px; */
    
  }
  .header{
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#87b0a8;
    margin: 0;
  }
  h1{
    font-size: 80px;
    margin: 0;
  }
  .container > div{
    border: 2px solid;
  }
  table, th, tr{
    /* border: 2px solid black; */
    border-collapse: collapse;
    text-align: center;
  }
 
    td{
        border: 2px solid;
        width: 100px;
        height: 100px;
        font-size: 80px;
        font-weight: bold;
    }
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 15px;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

#plOneScore, #plTwoScore{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.bottom{
  grid-column: 1/6;
  display: flex;
    justify-content: center;
    align-items: center;
}
#declareWinner{
  font-size: 25px;
  font-weight: bold;
}